/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Apply a basic style to the body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the body to at least the height of the viewport */
    
}

/* Style the header */
header {
    background-color: #DF0000;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Style the main content area */
main {
    flex: 1;
    padding: 20px;
    background-color: #312F2F; /* Your desired background color */
}

section {
    margin-bottom: 30px;
}

/* Style the footer */
footer {
    background-color: lightslategray;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}



.one{
 width: 50px;  
 height: 20px;
 background-color: rgb(19, 81, 135); 
}

.two{
    width: 50px;  
    height: 20px; 
    background-color: #DF0000;
   }

   .three{
    width: 50px;  
    height: 20px; 
    background-color: aquamarine;
   }
   .bar{background-color: aqua;}